doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Newport Acroyoga

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Lustria&family=Raleway:wght@800&display=swap' rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#') Newport Acroyoga
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#') Home
                        li.nav-item
                            a.nav-link(href='https://www.facebook.com/groups/180945592443289') Facebook Group
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#Jams') Jams

        // Page content
        .container
            .text.mt-5
                h2 Who We Are
                p We are a group of acroyogi's in the Newport, RI area who are looking to practice acro with others. The group consists of people of varying experience levels. All are welcome.
                p Currently we don't have any classes running the area, but are looking to change that. If you know any facilities that would be open to hosting a class please reach out to the group on facebook.
                h2#Jams Jams
                p Jams are public gatherings without any official instruction. Participants are encouraged to bring a yoga mat. There is no formal instruction during Jams, but you can usually find a few people to show you a couple of things.
                p
                    strong Jams are free!!!
                p Please read the Jam rules below.
                h3 Current Jams
                p Wednesday Morning, 9 AM at Storer Park, on the way to Goat Island.
                
                h2 History
                p Several summers ago, I found myself in Newport for the summer looking to do Acroyoga. I’m from the Left Coast where acro is far more prevelant. There is a good community in Mass and CT, but very little acro in Rhode Island. I started this group to try to build a community. I am a certified Acroyoga Teacher and former cheerleader. I don’t make it to all of the group activities but I do make it a bunch of them. You can find information on me at 
                    a(href="http://zacroyoga.com") zacryoga.com .
                h2 Additional Resources on Acroyoga
                ul
                    li
                        p
                            a(href="https://www.acropedia.org") Acropedia.org  - great resources of poses, washing machines, and playlist.
                    li
                        p
                            a(href="https://www.acroyoga.org") Acroyoga International  - for teachers and training here and elsewhere.


        // Footer content
        footer.site-footer.bg-dark
            .container
                p Site created by
                    a(href="https://zacharyc.com") zacharyc
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
