@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

header {
    text-align: center;
    border-bottom: 2p solid gray;
    padding: 2rem;
}
